* {
    font-family: 'Share Tech', sans-serif;
    --element-color: #303134;
    --bedwars-blue: #63DFFF;
    --bedwars-red: #FF5463;
}

body {
    background-color: #202124;
}

.siteTitle {
    color: white;
    text-align: center;
    font-size: 5vw;
}

.titleUnderline {
    height: 1.5vh;
    background-color: white;
    width: 25vw;
    margin: 0 auto;
}

.titleColor1 {
    color: var(--bedwars-blue);
}

.titleColor2 {
    color: var(--bedwars-red);
}

.cmdWidget {
    width: 40vw;
    max-height: 45vh;
    min-height: 45vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 2 13%;
            flex: 1 2 13%;
    background-color: var(--element-color);
    padding: 1vw;
    margin: 1vw;
    margin-top: 3vh;
    float: left;
    position: relative;
    border-radius: 2vw;
}

.cmdWidget h1 { /* Command Title */
    font-size: 2vw;
    color: white;
    text-align: center;
}

.disabledWidget {
    display: none;
}

.cmdWidget p { /* Command Description */
    font-size: 1vw;
    color: white;
    font-weight: 599;
    text-align: center;
}

.cmdWidget h3 { /* Command Examples */
    font-size: 1.5vw;
    color: var(--bedwars-blue);
    font-weight: 650;
    text-align: center;
}

.cmdArgument {
    color: var(--bedwars-red);
}

.widgetHolder {
    margin-left: 5vw;
}

.searchBar {
    width: 50vw;
    height: 5vh;
    padding: 4vh;
    margin-left: calc(50% - calc(25vw + 5vh));
    background-color: var(--element-color);
    display: flex;
    align-items: left;
    justify-content: center;
    border-radius: 15vh;
}

.searchBar input[type="text"] {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 2vw;
    flex: 0.92;
    border: 0;
}

.searchBar img {
    overflow: hidden;
    width: 70%;
    height: 60%;
    margin: 0 auto;
    position: relative;
}

/* .cmdWidget h3.shrinkCmd {
    font-size: 0.8vw;
    font-weight: 650;
    text-align: center;
} */

::-webkit-scrollbar {
    width: 1vw;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--element-color);
    border-radius: 1vh;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--element-color);
  }
